- gremien.each do |gremium|
  %tr
    %td= render partial: "gremium/color", locals: { color: gremium.color } if gremium.color
    %td=link_to "#{gremium.title}", gremium
    %td= "#{gremium.vorlagen_count}"
    %td= gremium.next_sitzung.formatted_datum if gremium.next_sitzung
    %td= link_to gremium.last_sitzung.formatted_datum, gremium.last_sitzung if gremium.last_sitzung
