#sitzung
  .row-fluid
    .span4
      .row-fluid
        .span12
          %h1
            %span=@sitzung.gremium.title
            - if @sitzung.detail_url && @sitzung.base_url
              %a{href: "#{@sitzung.base_url}#{@sitzung.detail_url}", title: "im Ratsinformationssystem öffnen", target: "_blank", class: "fui-eye-16"}
      .row-fluid
        .span12
          %table.table.table-condensed{style: "border-left: 5px solid #{@sitzung.gremium.color}"}
            %tr
              %td=@sitzung.formatted_datum
            %tr
              %td=@sitzung.raum
            %tr
              %td=@sitzung.formatted_time
            %tr
              %td="#{@sitzung.vorlagen.count} Vorlagen"
            %tr
              %td.notification
                %button#notif{class: "btn btn-info"} Abonieren
                #notification{style: "display:none;"}
                  = render partial: "notifications/form", locals: { model: "Sitzung", model_id: @sitzung.id }
      .row-fluid
        .span12
          %h3 Vorlagen
          = render partial: "vorlage/list", locals: { vorlagen: @sitzung.vorlagen, gremium: @sitzung.gremium }

    .span4
      .row-fluid
        %dl
          %dt="Entscheidungen (#{@sitzung.entscheidungen.count})"
          %dd
            - @sitzung.entscheidungen.each do |sitzung_vorlage|
              %p= link_to sitzung_vorlage.vorlage.title, sitzung_vorlage.vorlage
        %dl
          %dt="Berichte (#{@sitzung.berichte.count})"
          %dd
            - @sitzung.berichte.each do |sitzung_vorlage|
              %p= link_to sitzung_vorlage.vorlage.title, sitzung_vorlage.vorlage
        %dl
          %dt="Anträge (#{@sitzung.antraege.count})"
          %dd
            - @sitzung.antraege.each do |sitzung_vorlage|
              %p= link_to sitzung_vorlage.vorlage.title, sitzung_vorlage.vorlage
    - if @sitzung.themen && @sitzung.themen.count > 0
      .span4
        .row-fluid
          - @sitzung.themen.each do |thema|
            %dl
              %dt=thema.title
              %dd
                - @sitzung.vorlagen_for_subject(thema).each do |vorlage|
                  %p= link_to vorlage.title, vorlage

