.row-fluid
  .span7
    .row-fluid
      .span12#rat
        %dl
          %dt Nächste Ratssitzung
          %dd
            = link_to @ratssitzung.formatted_datetime, @ratssitzung
          %dd
            %h6 Themen:
            = comma_seperated_links_for @ratssitzung.subjects.uniq
          %dd
            %h6 Vorlagenauszug:
            = render partial: "vorlage/list", locals: { vorlagen: @ratssitzung.vorlagen.limit(5), gremium: @ratssitzung.gremium, show_gremien: false }
          
    .row-fluid
      .span12#vorlagen
        %h5 neueste Vorlagen
        %table.table.table-striped
          = render partial: "vorlage/table_list", locals: { vorlagen: @vorlagen, gremium: nil, show_gremien: true }
    .row-fluid
      .span6
        %dl.documents
          %dt Dokumente
          %dd
            = render partial: "documents/list", locals: { documents: @documents }
      .span6
        %dl.districts
          %dt
            %a{ class: "dropdown-toggle", "data-toggle" => "dropdown", href:"#" }=@district_gremien.first.title
            %ul{ class: "dropdown-menu", role:"menu", "aria-labelledby" => "dropdownMenu" }
              - @district_gremien.each_with_index do |gremium,index|
                %li
                  %a{href: "#", "data-id" => gremium.id}=gremium.title
          - @district_gremien.each_with_index do |gremium, index|
            %dd{class: "gremium_#{gremium.id}", style: ("display:none;" unless index == 0)}
              = render partial: "vorlage/list", locals: { vorlagen: gremium.vorlagen.letzte.limit(3), gremium: gremium}
    .row-fluid
      .span12
        %h5 Twitter #ratms
        #tweets
          <a class="twitter-timeline" href="https://twitter.com/offenerrat/ratsfraktionen" data-widget-id="260297516908679168">Tweets von @offenerrat/ratsfraktionen</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  .span1
  .span4
    .row-fluid
      .span12
        %dl.sitzungen
          %dt Sitzungen
          - if @sitzungen_heute.count > 0
            %dd
              = "Heute"
              = render partial: "sitzung/list_details_time", locals: { sitzungen: @sitzungen_heute, klass: "heute"}
          - if @sitzungen_morgen.count > 0
            %dd
              = "Morgen"
              = render partial: "sitzung/list_details_time", locals: { sitzungen: @sitzungen_morgen, klass: "morgen"}
          %dd
            = "Kommende Woche"
            = render partial: "sitzung/list_details", locals: { sitzungen: @sitzungen_woche, klass: "woche"}
    .row-fluid
      .span12
        %dl
          %dt Letzte Themen
          %dd
            = render partial: "subjects/list", locals: { subjects: @last_themen }
    .row-fluid
      .span12
        %dl
          %dt Kommende Themen
          %dd
            = render partial: "subjects/list", locals: { subjects: @next_themen }