.row-fluid
  .span7
    .row-fluid
      .span12.vorlagen
        %h5 neueste Vorlagen
        %table.table.table-striped
          = render partial: "vorlage/table_list", locals: { vorlagen: @vorlagen, gremium: nil, show_gremien: true }
    .row-fluid
      .span12
        %h5 Twitter #ratms
        #tweets
          <a class="twitter-timeline" href="https://twitter.com/offenerrat/ratsfraktionen" data-widget-id="260297516908679168">Tweets von @offenerrat/ratsfraktionen</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  .span1
  .span4
    .row-fluid
      .span12
        %dl.sitzungen
          %dt Sitzungen
          - if @sitzungen_heute.count > 0
            %dd
              = "Heute"
              = render partial: "sitzung/list_details_time", locals: { sitzungen: @sitzungen_heute, klass: "heute"}
          - if @sitzungen_morgen.count > 0
            %dd
              = "Morgen"
              = render partial: "sitzung/list_details_time", locals: { sitzungen: @sitzungen_morgen, klass: "morgen"}
          %dd
            = "Kommende Woche"
            = render partial: "sitzung/list_details", locals: { sitzungen: @sitzungen_woche, klass: "woche"}
    .row-fluid
      .span12
        %dl
          %dt Letzte Themen
          %dd
            - @last_themen.each do |thema|
              %p=thema.title
    .row-fluid
      .span12
        %dl
          %dt Kommende Themen
          %dd
            - @next_themen.each do |thema|
              %p=thema.title
