- vorlagen.each do |vorlage|
  %tr
    %td=link_to "#{vorlage.name}", vorlage
    %td="#{vorlage.title}"
    %td
      %ul
        - if vorlage.gremien_path || vorlage.decission
          - if vorlage.decission
            %li
              %a.popovers{style: "background:#{vorlage.decission.gremium.color};width:10px;height:100%;display:block;",'data-toggle' => "tooltip",title: "#{vorlage.decission.gremium.title}", "data-content" => "Entscheidung: ","data-placement" => "left"} &nbsp;
          - vorlage.gremien_path.each do |gremium|
            - if gremium
              %li
                %a.popovers{style: "background:#{gremium.color};width:10px;height:100%;display:block;",'data-toggle' => "tooltip",title: "#{gremium.title}", "data-content" => "#{vorlage.typ_for_gremium(gremium)}","data-placement" => "left"} &nbsp;
