.navbar
  .navbar-inner
    = link_to "Offener Rat Münster", root_path, class: "brand"
    %ul.nav
      %li= link_to "Sitzungen", sitzung_index_path
      %li= link_to "Gremien", gremium_index_path
      %li= link_to "Vorlagen", vorlage_index_path
      %li= link_to "Themen", subjects_path
