!!!
%html{lang: 'de'}
  %head
    = auto_discovery_link_tag(:rss, "http://offenerrat-ms.herokuapp.com")
    = render partial: 'layouts/head'

  %body
    #help-wrapper
      = render partial: 'layouts/navigation'
      = render partial: 'layouts/breadcrumb'
      = render partial: 'layouts/alerts'
    .container-fluid
      = yield

      #loading-spinner{:style => "display:none"}

    %footer
      #footer_wrapper
        = render partial: 'layouts/footer'
