!!!
%html{lang: 'de'}
  %head
    = render partial: 'layouts/head'

  %body
    #help-wrapper
      = render partial: 'layouts/navigation'
      = render partial: 'layouts/breadcrumb'
      = render partial: 'layouts/alerts'
    .container-fluid
      = yield

      #loading-spinner{:style => "display:none"}

    %footer
      #footer_wrapper
        = render partial: 'layouts/footer'
    :javascript

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-367775-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/ApT9bVWYZdml20wyc3DHg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
        mode: 'feedback',
        primary_color: '#cc6d00',
        link_color: '#007dbf',
        forum_id: 208530,
        tab_label: 'Feedback',
        tab_color: '#088f18',
        tab_position: 'bottom-right',
        tab_inverted: false
      }]);
